:root {
    --body-bg-color: #EAEAEA;
    --recipe-bg-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    margin: 150px 200px;
    background-color: var(--body-bg-color);
}

.recipe-container {
    background-color: var(--recipe-bg-color);
    border-radius: 15px;
    padding: 10px 10px;
}

header, main, footer {
    margin: 20px 10px;
    padding: 0px 20px;
}

nav {
    display: inline;
    justify-content: space-between;
    color: black;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgb(red, green, blue);
}

nav a {
    margin-right: 5px;
    font-variant: small-caps;
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cake-fig {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

figcaption {
    text-align: right;
    font-style: italic;
}

section {
    margin: 30px 30px;
    line-height: 35px;
}

section li {
    text-align: justify;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-variant: small-caps;
}

h3 {
    margin-top: 30px;
}

